ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="6366", TAG+="systemd", ENV{SYSTEMD_WANTS}+="sn9c292b-osd-off.service"
